!!!5
html(lang="en")
  head
    title= 'TeamUp - Medusa'

    body

      // UI
      script(src='socket.io/socket.io.js')

      script(src='js/uki.js')
      script(src='js/uki-more.js')
      script(src='js/index.js')
